.Hangmanword{
  color: red;
  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0;
    li{
      font-size: 45px;
      padding: 5px;
      margin: 0;
      &.space {
        margin: 0 10px
      }
    }
  }
}